USE [Expert]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[selectRulesAndQuestions]
AS
BEGIN
	SET NOCOUNT ON;

    SELECT
		 r.Id AS [RuleId],
		 r.Name AS [RuleName],
		 q.Id AS [QuestionId],
		 q.Name AS [QuestionName],
		 q.Content AS [QuestionContent],
		 r.CreatingFactId AS [RuleCreatingFactId],
		 ra.FactId AS [RuleArgument],
		 ra.RequiredValue AS [ArgumentRequiredValue]
	FROM Question AS q WITH(NOLOCK)
	JOIN [Rule] AS r WITH(NOLOCK) ON q.RuleId = r.Id
	JOIN RuleArguments AS ra WITH(NOLOCK) ON ra.RuleId = r.Id;
END
